.mct-map-controls {
    top: 0px;
    left: 60px;
}

.mct-map-popup-content p {
    font-size: 0.8rem;
    margin: 0 0 2px 0 !important;
}

.mct-map-popup-content input {
    background: none !important;
    box-shadow: none !important;
    color: #333 !important;
    padding: 0 !important;
    font-size: 0.8rem;
    width: 100%;
}

.ol-touch .mct-map-controls {
    top: 80px;
}

.mct-map-controls .mct-map-follow-active {
    background-color: none;
    background: #0099cc !important;
    color: #fff !important;
}

.mct-map-controls .mct-map-follow-active,
.mct-map-controls .mct-map-follow-active:focus {
    background-color: rgba(0,136,60,0.5);
}

.mct-map-controls .mct-map-follow-active:hover {
    background-color: rgba(0,136,60,0.7);
}

.ol-viewport .ol-control {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 150ms;
    -moz-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
    opacity: 0;
    pointer-events: none;

    /* Overrides */
    background: none;
    border-radius: inherit !important;
    padding: 0 !important;
}

.ol-viewport:hover .ol-control {
    opacity: 1;
    pointer-events: inherit;
}

.ol-viewport .ol-control button.s-button {
    background-color: none;
    color: inherit;
    display: inline-block;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    width: auto;
    margin: 0;
    margin-right: 1px;
    padding: 0 7.5px;
}

.s-button {
    font-size: 0.8rem !important;
}
