.mct-map-layer-info {
    background: none !important;
    top: 70px;
    left: 42px;
}

.mct-map-layer-info .mct-map-baselayer-info,
.mct-map-layer-info .mct-map-heatmap-info {
    opacity: 0.4;
}

.mct-map-layer-info p {
    color: #ccc;
    margin: 0px 0px 2px 0px;
    font-size: 0.8rem;
}

.mct-map-layer-info p:last-child {
    margin-bottom: 0px;
}

.ol-touch .mct-map-layer-info {
    top: 30px;
}
