.mct-map-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 160px;
}
.mct-map-popup:after, .mct-map-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.mct-map-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.mct-map-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.mct-map-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 4px;
    z-index: 10;
}
.mct-map-popup-closer:after {
    content: "✖";
}

.mct-map-popup-content p {
    font-size: 0.8rem;
    margin: 0 0 2px 0 !important;
}

.mct-map-popup-content input {
    background: none !important;
    box-shadow: none !important;
    color: #333 !important;
    padding: 0 !important;
    font-size: 0.8rem;
    width: 100%;
}
